<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949537001771-h2rp214uu7pdov7t4ub26n5fs20oormb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949537001771-h2rp214uu7pdov7t4ub26n5fs20oormb</string>
	<key>API_KEY</key>
	<string>AIzaSyAvQYLFUnAKRDcIR5IetouOs87NWNbxOiU</string>
	<key>GCM_SENDER_ID</key>
	<string>949537001771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hittudesai.exercise-app</string>
	<key>PROJECT_ID</key>
	<string>exercise-app-a6279</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise-app-a6279.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949537001771:ios:5ab482ede0c4b27610756e</string>
</dict>
</plist>